<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Invitation</title>
</head>
<body style="font-family: Arial; background:#f4f4f4; padding:40px;">

  <div style="max-width:600px; margin:auto; background:white; padding:30px; border-radius:10px;">

    <h1 style="color:#4f46e5;">
      Welcome to FastAPI Project 🚀
    </h1>

    <p>Hello {{name}},</p>

    <p>
      You have been invited to join our platform.
    </p>

    <a href="{{invite_link}}"
       style="
       display:inline-block;
       background:#4f46e5;
       color:white;
       padding:12px 20px;
       text-decoration:none;
       border-radius:6px;
       margin-top:20px;
       ">
       Accept Invitation
    </a>

    <p style="margin-top:30px;">
      Regards,<br>
      SatyaSaiRam
    </p>

  </div>

</body>
</html>